body{
    font-family: Verdana;
    text-align: center;
}
#myButton{
    font-size: 3em;
    background-color: #1ea3be;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}   
#myLabel{
    font-size: 3em;
    color: #4CAF50;
}